.base-text-input {
  width: 100%;
  padding: 0.75rem 1rem;
}

.single-line {
  border-bottom: solid 1px;
}

.single-line:focus {
  border-bottom: solid 2px var(--primary-color);
}

.multi-line {
  min-height: 12rem;
  border: solid 1px;
}

.multi-line:focus {
  border: solid 2px var(--primary-color);
}
