.todo-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.todo-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.todo-label {
  font-weight: 700;
}
